[Application]
name=pyDatView
version=0.1
entry_point=pydatview:show

#[Command pydatview]
#entry_point=pydatview:cmdline

[Python]
version=3.6.0
bitness=64

[Include]
pypi_wheels = 
     numpy==1.15.2
     wxPython==4.0.3
     matplotlib==3.0.0
     pyparsing==2.2.2
     cycler==0.10.0
     six==1.11.0
     python-dateutil==2.7.3
     kiwisolver==1.0.1
     pandas==0.23.4
     pytz==2018.5
     chardet==3.0.4

packages=weio
    future

# packages=numpy
#     wx
#     matplotlib
#     pyparsing
#     cycler
#     six
#     dateutil
#     kiwisolver
#     pandas
#     pytz
#     weio
# 
exclude=weio/.git*
    weio/_tests/*
    pkgs/pandas/tests
    pkgs/numpy/tests
    pkgs/numpy/core/include
    pkgs/numpy/core/lib
    pkgs/numpy/doc
    pkgs/numpy/f2py
    pkgs/numpy/*/tests
    pkgs/matplotlib/mpl-data/sample_data
    pkgs/matplotlib/mpl-data/fonts
    pkgs/matplotlib/backends/qt_editor
    pkgs/matplotlib/backends/web_backend
    pkgs/wx/locale
    pkgs/wx/py
    pkgs/wx/lib/agw
    pkgs/wx/lib/analogclock
    pkgs/wx/lib/art
    pkgs/wx/lib/colourchooser
    pkgs/wx/lib/editor
    pkgs/wx/lib/floatcanvas
    pkgs/wx/lib/gizmos
    pkgs/wx/lib/masked
    pkgs/wx/lib/ogl
    pkgs/wx/lib/pdfviewer
    pkgs/wx/lib/plot
    pkgs/wx/lib/pubsub
    pkgs/wx/lib/wxcairo

#     pkgs\matplotlib\mpl-data
##Click==7.0

[Build]
#directory=
installer_name=pyDatView.exe
